<ion-content [fullscreen]="true" class="welcome-content">
  <div class="welcome-container">
    <ion-img src="assets/bg1.png" class="background-image" />
    
    <ion-title class="animated-title">¡Bienvenido!</ion-title>
    <p class="subtitle">Crea las mejores recetas para cada ocasión y descubre tu chef interno</p>

    <ion-button expand="block" color="tertiary" [routerLink]="['/login']" class="login-button">
      Explora Recetas
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
