ion-menu {
    --background: #fff; /* Fondo blanco */
    --color: #000; /* Texto negro */
  }
  
  ion-item {
    --color: #fd4d4d; /* Color del texto de los ítems */
  }
  
  ion-icon {
    --color: #fd5826; /* Color de los íconos */
  }