<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Recetas online</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item routerLink="/landing">
          <ion-icon name="power-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-item>
        <!-- Agrega más elementos de menú aquí -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
